.toplabel{
  text-align: center;
}

.col-md-2{
margin-left: -200px; 
}

.green{
  background-color:lightgreen;
}

.blue{
  background-color:lightblue;
}

.purple{
  background-color: lavender;
}

.other{
  background-color: lightgray;
}